<div class="row">
    <div class="col-xs-10">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <lable from="name">Name</lable>
                    <input type="text" id="name" clss="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <lable from="amount">Amount</lable>
                    <input type="number" id="amount" clss="form-control">
                </div>
                <div class = "row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="submit">Add</button>
                        <button class="btn btn-danger" type="submit">Delete</button>
                        <button class="btn btn-primary" type="submit">clear</button>


                    </div>

                </div>
            </div>
        </form>
    </div>
</div>